{% extends 'base.html' %}
{% block contenido %}
<h2>Catálogo</h2>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="{{ url_for('static', filename='images/producto1.jpg') }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Café Clásico</h5>
                <p class="card-text">$15.000</p>
                <a href="https://wa.me/573001112222?text=Quiero%20comprar%20Café%20Clásico" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
